{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="mt-3">
        <div class="card border-info">
            <div class="card-body pb-2">
                <form method="POST">
                    {% csrf_token  %}
                    
                    {{ form|crispy }}
            
                    <input type="submit" class="btn btn-info mt-3" value="Submit">
                </form>
            </div>
            
            <div class="p-3">
                <a class="" href="{% url 'register' %}">Create an account</a> | 
                <a class="" href="{% url 'reset-password' %}">Forgot password</a>
            </div>
        </div>                
    </div>
{% endblock %}
